---
---

body {
  font-size: 85%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.7;
  text-align: justify;
}

.main {
  max-width: 700px;
  margin: 50px auto 50px;
}

/* Header styling */

h1, h2, h3, h4, h5, h6 {
  text-align: left;
}

.header-date {
  text-align: right;
}

/* Image styling */

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}

/* Code styling */

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #eceff1;
}

pre {
  padding: 1.2em;
}

/* Hyperlink styling */

a:link {
  color: #000;
  text-decoration: underline;
}

a:visited {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
  text-decoration: none;
}

hr {
    margin: 25px auto 25px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.75rem 0;
}

table, td, th {
    border: 1px solid black;
    padding: 10px;
}
