---
layout: default
---

{% include page_head.html %}
<header>
  <h1>{{ page.title }}</h1>
  <p class="header-date">{{ page.date | date_to_long_string }}</p>
</header>
{{ content }}
{% include post_footer.html %}
